<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cosmos</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>


<div class="jumbotron">
    <h1 class="display-4">
        Hello,
        <span>
            TODO (First name, Last name)
        </span>

        <span >
           Anonimous space traveller!
        </span>
    </h1>
    <p class="lead">We are your space travel agency</p>
    <hr class="my-4">
    <p>Register or Login to begin your adventure.</p>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
